/* -----------------------
Base styles
------------------------*/

body
{
	color: #111;
	background-color: #eee;
	font: 0.8em "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
	color: #000;
}

.footer
{
	font-size: 0.7em
}