@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body
{
  font-family: 'Work Sans', sans-serif;

  --bg-green: #464e3d;
  --bg-green-overlay: rgba(0,0,0,0.1);
  --fg-yellow: #EAC61F;
  --fg-red: #f84008;
  --fg-darkgrey : #2c2c29;
  --fg-darkgrey-hilight : #3a3a35;
  --fg-green: #75bc45;
  --fg-lightgrey: #b7b3a1;
  --fg-grey: #7c7b72;
} 

body, 
body #board .badge,    
body #board .entry {
  background-color: var(--bg-green);
  color: var(--fg-lightgrey);
  
}

body hr {
  color: rgba(255, 255, 255, 0.096)
}

body #board {
  width: 90%;
  max-width: 1300px;
  min-width: 360px;
  margin: 0 auto;
  background-color: var( --bg-green-overlay );
  padding: 4px 4px 8px 4px;
  /* border: 1px solid; */
  border-radius: 5px;    
}

body #board img {
    object-fit: cover;
    width: 320px;
    height: 170px;
    margin: 8px;
  }

body #board .graph {
  background: var(--fg-darkgrey);
  padding: 8px;
  color: var(--fg-lightgrey);
  font-weight: bold;
  border-radius: 5px;   
}

body #board .graph:hover {
    background: var(--fg-darkgrey-hilight);
}

body #board .graph_min {
    background: var(--fg-darkgrey);
    padding: 8px;
    color: var(--fg-lightgrey);
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
}

.thumb {
    border: 1px solid var( --fg-darkgrey-hilight ); 
    border-radius: 4px;  
}

body #board .entrycontent {
    padding: 0;
    margin: 0 auto;
    
    /* background: #f84008; */
}


body #board .graph_min:hover {
background: var(--fg-darkgrey-hilight);
}

body #board .graph p {
margin: 0px;
}

body #board .graph .label {
width: 50px;
float: left;
}

body #board .graph .labelhilight {
color: var(--fg-green);
}

body #board .graph .bar {
letter-spacing: 0pt;
color: var(--fg-yellow);
}


body #board .entry {
margin-top: 16px;
background-color: var( --bg-green-overlay );
padding: 4px 4px 8px 4px;
/* border: 1px solid; */
border-radius: 5px;  
}

body #board .entry:hover {
/* background-color: rgba(255, 255, 255, 0.068); */
}

body #board .entry h2 {
  color: var(--fg-yellow);
  line-height: 0px;    
}


body #board .entry .time {
  font-size: small;
  padding: 8px 8px;    
  margin: 0;
}
  
body #board .entry .time .label {
  font-weight: bold
}

body #board .entry .subject {
  padding: 2px 4px;
  color: var(--fg-darkgrey);
  margin: 0;
  background: var(--fg-yellow);
  border-radius: 5px; 
  margin-right: 6px;
  margin-left: 0px;
}

body #board .entry .date {
  color: var(--fg-grey);
  margin: 0;
  /* background: var(--fg-green); */
  padding: 0px 4px;
  border-radius: 5px; 
  margin-right: 0px;
  margin-left: 0px;
  float: right;
}

body #board .entry .text {
  padding: 6px;
  color: var(--fg-lightgrey);
  margin: 0;
  background: var(--fg-darkgrey);
  border-radius: 5px;  
  padding-left: 4px;
}

body #board .entry .text:hover {
  background: var(--fg-darkgrey-hilight);
}

body #board .entry .note {
  font-size: small;
  padding: 8px 8px;    
  margin: 0;
}

body #board .entry .media {
  max-width:100%;
  max-height:100%;
  align-content: center;
}  


body #board .button { 
  color:var( --fg-yellow );
  border: 1px solid var( --fg-yellow );
  border-radius: 16px;
  text-decoration: none;
  font-size: small;
  padding: 0 10px;
  margin-right: 4px;   
}

body #board .button:hover { 
  background: rgba(255,210,0,0.25);
  color:var( --fg-yellow );
}

body #board .tag { 
  color:var( --fg-yellow );
  border: 1px solid var( --fg-yellow );
  border-radius: 16px;
  text-decoration: none;
  font-size: small;
  padding: 0 10px;
  margin-right: 4px;    
}

body #board .tag:hover { 
  background: rgba(255,210,0,0.25);
  color:var( --fg-yellow );
}

body #board .entry ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 8px 0;
}

body #board .entry li { 
  color:var( --fg-lightgrey );
  text-decoration: none;
  font-size: small;
  padding: 0 10px;
  margin-right: 8px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

body #board .entry .marktrue
{
  color: var(--fg-lightgrey);
}
body #board .entry .markfalse
{
  color: var(--fg-red);
}


body #board .entry .bar { 
    color: rgb(250, 131, 34);
    border: 1px solid var( --fg-yellow );
    border-radius: 16px;
    text-decoration: none;
    font-size: small;
    padding: 0 10px;
    margin-right: 8px;  
}

body #board .entry .link { color:var( --fg-yellow ); border: 1px solid var( --fg-yellow ); border-radius: 16px; }
body #board .entry .link:hover { background: rgba(255,210,0,0.25); color:var( --fg-yellow ); }

body #overlay {
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    position: fixed; 
    display: none; 
}
body #overlay .overlaycontent {
    /* background: #f84008; */
    margin: 0 auto;
    width: 80%;
    height: 90%;
}

body #floater {
    max-width: 100%;
    max-height: 100%;    
}

body #overlay .overlaycontent .note {
    /* font-size: small; */
    padding: 8px 8px;    
    margin: 0;
  }